@using System.Security.Claims
<!DOCTYPE html>
<html lang="fa" class="light-style layout-menu-fixed" dir="rtl" data-theme="theme-default"
  data-assets-path="~/assets/" data-template="horizontal-menu-template-no-customizer">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>سیستم مدیریت کیفیت</title>

  <meta name="description" content="">
  <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico">

  <!-- Icons -->
  <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css">
  <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
  <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css">

  <!-- Core CSS -->
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css">
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css">
  <link rel="stylesheet" href="~/assets/css/demo.css">
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/rtl.css">

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css">
  <link rel="stylesheet" href="~/assets/vendor/libs/quill/typography.css">
  <link rel="stylesheet" href="~/assets/vendor/libs/quill/katex.css">
  <link rel="stylesheet" href="~/assets/vendor/libs/quill/editor-fa.css">

  <!-- Page CSS -->
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="~/assets/img/favicon/favicon.ico">

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css">

  <!-- <link rel="stylesheet" href="assets/vendor/fonts/fontawesome.css" /> -->
  <!-- <link rel="stylesheet" href="assets/vendor/fonts/flag-icons.css" /> -->

  <!-- Core CSS -->
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css">
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css">
  <link rel="stylesheet" href="~/assets/css/demo.css">
  <link rel="stylesheet" href="~/assets/vendor/css/rtl/rtl.css">

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
  <link rel="stylesheet" href="~/assets/vendor/libs/select2/select2.css">
  <!-- Helpers -->
  <script src="~/assets/vendor/js/helpers.js"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="~/assets/js/config.js"></script>

  <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico">

    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="../../assets/css/demo.css">
    <link rel="stylesheet" href="../../assets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/typeahead-js/typeahead.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/animate-css/animate.css">
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css">
     <style>
    body {
      background-image: url('/assets/img/backgrounds/bg.jpg');
      background-size: cover;
      background-position: center;
    }
    label{
      font-size: 16px !important;
      font-color: black !important;
    }
    input{
      font-size: 16px !important;
      border-color: Blue !important;
    }
    .card{
      opacity: 92%;
    }

    .text-muted{
      color: black !important;
    }

    
    .nav-item:hover {
      background-color: #f8f9fa !important;
      color: #007bff !important;
    }

   

    
    
  </style>
</head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      <!-- Navbar -->

      <nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
        <div class="container-xxl">
          <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
          <div class="app-brand-logo" style="width:140px"  >
                <img src="/assets/img/backgrounds/ilia2.png" alt="brand-logo" class="img-fluid" >
                </div>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
              <i class="bx bx-x bx-sm align-middle"></i>
            </a>
          </div>

          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <ul class="navbar-nav flex-row align-items-center ms-auto">
             
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="@User.FindFirst("profile").Value" alt class="rounded-circle">
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item">
                      <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <img src="@User.FindFirst("profile").Value" alt class="rounded-circle">
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block">@User.Identity.Name </span>
                        
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/Admin/Home/ProfileUser">
                      <i class="bx bx-user me-2"></i>
                      <span class="align-middle">پروفایل من</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/Admin/Home/UserSetting/@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">
                      <i class="bx bx-cog me-2"></i>
                      <span class="align-middle">تنظیمات</span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/auth/logout" target="_blank">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">خروج</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>

          <!-- Search Small Screens -->
          
        </div>
      </nav>

      <!-- / Navbar -->



      <!-- Layout container -->
      <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
                <ul class="nav nav-tabs tabs-line " style="background-color: white !important ;padding-right:10% !important">
      
       <li class="nav-item">

            <a  class="nav-link" href="/Admin/Home/ReportSeen">
              صفحه اصلی
            </a>

        </li>
        <li class="nav-item">

            <a type="button" class="nav-link" href="/Admin/Home/AddCat">
              گروه بندی ها 
            </a>

        </li>
        <li class="nav-item">

            <a type="button" class="nav-link" href="/Admin/Home/GetUsers" >
             کاربران
            </a>

        </li>
        <li class="nav-item">

            <a type="button" class="nav-link " href="/Admin/home/GetCategory">
             دسترسی ها
            </a>

        </li>

      </ul>
          @RenderBody()
          <!--/ Content -->

          <!-- Footer -->
          <footer class="content-footer footer bg-footer-theme" style="background-color: white !important">
            <div class="container-xxl d-flex flex-wrap justify-content-between py-3 flex-md-row flex-column">
              <div class="mb-2 mb-md-0">
                طراحی شده با ❤️ ارائه شده توسط گروه
                <a href="https://iliasteel.ir/" target="_blank" class="footer-link fw-semibold">ایلیا استیل</a>
              </div>
            </div>
          </footer>
          <!-- / Footer -->

          <div class="content-backdrop fade"></div>
        </div>
        <!--/ Content wrapper -->
      </div>

      <!--/ Layout container -->
    </div>
  </div>

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>

  <!--/ Layout wrapper -->

  <!-- build:js assets/vendor/js/core.js -->
  <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="~/assets/vendor/libs/popper/popper.js"></script>
  <script src="~/assets/vendor/js/bootstrap.js"></script>
  <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

  <script src="~/assets/vendor/libs/hammer/hammer.js"></script>

  <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>

  <script src="~/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="~/assets/vendor/libs/quill/katex.js"></script>
  <script src="~/assets/vendor/libs/quill/quill.js"></script>

  <!-- Main JS -->
  <script src="~/assets/js/main.js"></script>

  <script src="~/assets/vendor/libs/select2/select2.js"></script>

  <!-- Page JS -->
  <script src="~/assets/js/forms-tagify.js"></script>
  <script src="~/assets/js/forms-selects.js"></script>
  <script src="~/assets/js/forms-editors.js"></script>
  <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="../../assets/vendor/libs/select2/i18n/fa.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../../assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/pages-account-settings-account.js"></script>
     <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>

    <script src="../../assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../../assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../../assets/vendor/libs/quill/katex.js"></script>
    <script src="../../assets/vendor/libs/quill/quill.js"></script>

    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>

    <script src="../../assets/vendor/libs/select2/select2.js"></script>

    <!-- Page JS -->
    <script src="../../assets/js/forms-tagify.js"></script>
    <script src="../../assets/js/forms-selects.js"></script>
    <script src="../../assets/js/forms-editors.js"></script>

</body>

</html>